/*
.App {
  padding: 30px;
  display: flex;
}

.App > div {
  margin-right: 50px;
}

.completed-task {
  opacity: 0.5;
}

.button-active {
  background-color: cornflowerblue;
  color: gold;
}
.error {
  outline: none;
  border-color: red;
}*/
